<section class="login text-center container-fluid">
	<div class="row align-items-center justify-content-center">
		<div class="login-form col-11 col-md-11 col-lg-11 col-xl-9">
			<div class="row">
			
				<div class="col-md-5 col-xl-4 text-left d-flex align-items-center">
					<form>					
						<h3 class="mb-3 brand-primary">Forgot Your Password?</h3>
						<div class="form-group mb-3 mb-lg-4 pt-0 pt-sm-1">
							<label for="username">Email</label>
							<input type="email" name="email" class="form-control" placeholder="Enter your email" />
						</div>
						<div class="form-group d-flex align-items-center pt-0 pt-sm-1">	
							<a class="btn btn-primary" title="Send Email"><i class="fa fa-paper-plane-o pr-2" aria-hidden="true"></i>Send Email</a>
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>