<div class="container" style="margin-left: 220px;">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">{{dashboard.total_users}}</div>
                <div class="card-content">
                    <p class="pt-2 pl-2 text-muted" style="padding-left: 15px;">1000</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">{{dashboard.pending_users}}</div>
                <div class="card-content">
                    <p class="pt-2 pl-2 text-muted" style="padding-left: 15px;">100</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">{{dashboard.approved_users}}</div>
                <div class="card-content">
                    <p class="pt-2 pl-2 text-muted" style="padding-left: 15px;">900</p>
                </div>
            </div>
        </div>
    </div>
</div>