<div style="margin-left: 1019px;">
  <select (click)="changeLanguage($event.target.value)">
    <option value="en">English</option>
    <option value="fr">French</option>
  </select>
</div>
<h2 class="text-center">{{global.title}}</h2>
<div class="container">
  <div class="table-responsive">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper pb-0 dt-bootstrap4">
      <div class="table-responsive">
        <div class="dataTables_wrapper pb-0 dt-bootstrap4">
          <div id="grid"></div>
        </div>
      </div>
    </div>
  </div>

  <app-list-add></app-list-add>
  <app-list-add-range></app-list-add-range>
  <app-list-all></app-list-all>
  <app-list-any></app-list-any>
  <app-list-average></app-list-average>
  <app-list-contains></app-list-contains>
  <app-list-count></app-list-count>
  <app-list-concat></app-list-concat>
  <app-list-where></app-list-where>
  <app-list-distinct></app-list-distinct>
  <app-list-distinct-by></app-list-distinct-by>
  <app-list-shift></app-list-shift>
  <app-list-first></app-list-first>
  <app-list-first-or-default></app-list-first-or-default>
  <!-- <app-list-group-by></app-list-group-by> -->
  <app-list-insert></app-list-insert>
  <app-list-pop></app-list-pop>
  <app-list-last></app-list-last>
  <app-list-last-or-default></app-list-last-or-default>
  <app-list-max></app-list-max>
  <app-list-max-by></app-list-max-by>
  <app-list-order-by></app-list-order-by>
  <app-list-order-by-descending></app-list-order-by-descending>
  <app-list-remove></app-list-remove>
  <app-list-remove-at></app-list-remove-at>
  <app-list-remove-all></app-list-remove-all>
  <!-- <app-list-single></app-list-single> -->
  <app-list-single-or-default></app-list-single-or-default>
  <app-list-skip></app-list-skip>
  <!-- <app-list-sum></app-list-sum> -->
  <app-list-take></app-list-take>

</div>