@{
    ViewBag.Title = "Computer Shop Management";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="jumbotron">
    <h2 style="color:chocolate">Welcome to Computer Shop Management</h2>
</div>
<button>Show Message</button>

@Html.ActionLink("Download Text File", "Download", "Home")

@{
    Html.RenderAction("messagepage", "Home");
}

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.getScript("/Home/WarningMessage");
        });
    });
</script>

