<div style="margin-left: 1019px;">
  <select (click)="changeLanguage($event.target.value)">
    <option value="en">English</option>
    <option value="fr">French</option>
  </select>
</div>
<h2 class="text-center">{{global.title}}</h2>
<div class="container">
  <div class="table-responsive">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper pb-0 dt-bootstrap4">
      <div class="table-responsive">
        <div class="dataTables_wrapper pb-0 dt-bootstrap4">
          <div id="grid"></div>
        </div>
      </div>
    </div>
  </div>

  <app-get-complete></app-get-complete>
  <app-dynamic-complete></app-dynamic-complete>
  <app-checkbox-complete></app-checkbox-complete>
  <app-checkbox-single></app-checkbox-single>
  <app-checkbox-multiselect></app-checkbox-multiselect>
  <app-checkbox-value></app-checkbox-value>
  <app-checkbox-inline></app-checkbox-inline>
  <app-checkbox-selectall></app-checkbox-selectall>
  <app-color-complete></app-color-complete>
  <app-dynamicdate-complete></app-dynamicdate-complete>
  <app-dropdown-static></app-dropdown-static>
  <app-dropdown-sync></app-dropdown-sync>
  <app-dropdown-async></app-dropdown-async>
  <app-dropdown-value></app-dropdown-value>
  <app-dynamicemail-complete></app-dynamicemail-complete>
  <app-dynamicfile-complete></app-dynamicfile-complete>
  <app-dynamicfile-multiple></app-dynamicfile-multiple>
  <app-dynamicpassword></app-dynamicpassword>
  <app-radio-static></app-radio-static>
  <app-radio-value></app-radio-value>
  <app-radio-value></app-radio-value>
  <app-radio-inline></app-radio-inline>
  <app-dynamicrange></app-dynamicrange>
  <app-dynamicrange-value></app-dynamicrange-value>
  <app-dynamicrange-step></app-dynamicrange-step>
  <app-textarea-complete></app-textarea-complete>
  <app-textarea-size></app-textarea-size>
  <app-textarea-inputlength></app-textarea-inputlength>
  <app-textbox-complete></app-textbox-complete>
  <app-dynamicurl-complete></app-dynamicurl-complete>
  <app-class-complete></app-class-complete>
  <app-description-complete></app-description-complete>
  <app-disabled-complete></app-disabled-complete>
  <app-focus-complete></app-focus-complete>
  <app-hide-complete></app-hide-complete>
  <app-readonly-complete></app-readonly-complete>
  <app-value-complete></app-value-complete>
  <app-conditionalclass-conditional></app-conditionalclass-conditional>
  <app-conditionaldescription-conditional></app-conditionaldescription-conditional>
  <app-conditionaldisabled-conditional></app-conditionaldisabled-conditional>
  <app-conditionalhide-conditional></app-conditionalhide-conditional>
  <app-conditionallabel-conditional></app-conditionallabel-conditional>
  <app-conditionalplaceholder-conditional></app-conditionalplaceholder-conditional>
  <app-conditionalreadonly-conditional></app-conditionalreadonly-conditional>
  <app-conditionalvalue-conditional></app-conditionalvalue-conditional>
  <app-override-props-complete></app-override-props-complete>
  <app-override-props-complete></app-override-props-complete>
</div>