<div class="container mt-3">
    <h3>prefix-add</h3>

    <div>
        <form  [formGroup]="userFormGroup">
          <div class="form-group">
            <label>Doctor Name</label>
            <input type="text" formControlName="doctorName" class="form-control"  />
              Transformed Value :   {{userFormGroup["modelInstance"]["doctorName"]}}
          </div>
          <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
</div>
